.featureList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(53, 0, 0, 0.37);
    height: 25vh;
    padding: 0 16em;
    list-style: none;
}