@import '../../../styles/variables.scss';

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 50px;

    & .title {
        width: 30%;
        font-weight: normal;
        letter-spacing: 10px;
        color: $dashboard-main-dark;
    }

    & .search {
        flex-grow: 1;

        & .searchBox {
            margin: auto;
            display: flex;
            height: 35px;
            width: 30%;
            border-radius: 50px;
            background-color: whitesmoke;
            border: 1px solid $dashboard-main-dark;
            overflow: hidden;

            & input {
                background: transparent;
                border: none;
                padding: 5px 20px;
                height: 100%;
                width: 100%;
                outline: none;
            }

            & button {
                margin: 0;
                padding: 0;
                width: 50px;
                border: none;
                background-color: transparent;
                cursor: pointer;

            }
        }
    }

    & .userMenu {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 100px;
        width: 30%;

        & .avatar {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            border-radius: 50%;
        }

        & p {
            font-size: 1.7em;
        }
    }
    
    
}

@media only screen and (max-width: 1400px) {
    .wrapper {
        padding: 0 25px;
    
        & .title {
            width: 30%;
            font-size: 1.6em;
        }
    
        & .search {
            flex-grow: 1;
    
            & .searchBox {
                width: 35%;
    
                & input {
                    padding: 5px 10px;
                }
            }
        }
    
        & .userMenu {
    
            & .avatar {
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }
    
            & p {
                font-size: 1.3em;
            }
        }
        
        
    }
    
}
