@import '../../../../styles/variables';
@import '../../../../styles/animations';

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    animation: fadeIn .5s both;

    & .form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        background-color: rgba(102, 102, 102, 0.822);
        color: whitesmoke;
        text-shadow: 0px 0px 5px black;
        border: 2px solid $logo-color-primary;
        border-radius: 20px;
        animation: slideDown .5s both;
        

        & .title {
            margin: 10px auto 30px;
        }

        & .directionSection {
            margin: 20px auto;

            & label {
                display: inline-block;
                margin-right: 10px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                transform: scale(1);
                transition: .1s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

                & input[type="radio"] {
                    display: none;

                    &:checked + .sell {
                        background-color: rgba(255, 0, 0, 0.178);
                    }

                    &:checked + .buy {
                        background-color: rgba(0, 145, 89, 0.315);
                    }
                }
        }

        & input {
            width: 50%;
            margin: 5px;
            padding: 7px;
            text-transform: uppercase;
            border: 1px solid $logo-color-primary;
            border-radius: 20px;
            outline-color: $logo-color-primary;

            &[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
        }

        & .btnSection {
            & .btn {
                background-color: transparent;
                border: none;
                margin: 10px 20px;
                font-size: 2em;
                color: rgba(245, 245, 245, 0.644);
                transition: .1s;
                transform: scale(1);
                cursor: pointer;
                
                &:nth-child(1):hover {
                    color: $logo-color-primary;
                    text-shadow: 0px 0px 10px black;
                    transform: scale(1.2);
                }
                &:nth-child(2):hover {
                    color: $cancel-red;
                    text-shadow: 0px 0px 10px black;
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {

    .wrapper{
    
        & .form {
            width: 23%;
    
            & .title {
                margin: 10px auto 20px;
            }
        }
    }
    
}