$logo-color-primary: rgb(125, 170, 0);
$logo-color-secondary: rgb(189, 189, 189);
$form-background-color: rgba(239, 240, 239, 0.226);

$dashboard-main-dark: rgb(27, 27, 27);
$dashboard-main-gray: rgb(153, 153, 153)