@import '../../styles/variables.scss';

.content {
    width: 30%;
    margin: 8em 15em;

    & h1 {
        font-size: 2.8em;
        margin-bottom: 20px;
        color: $logo-color-primary;
        text-shadow: 2px 2px 20px black;
    }

    & p {
        font-size: 1.1em;
        line-height: 1.5em;
        color: whitesmoke;
        text-shadow: 2px 2px 20px black;

    }

    & .mainBtns {
        margin-top: 2em;
    }
}