.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;

    & header {
        width: 85%;
        height: 15%;
        background: rgb(165, 165, 165);
    }

    & aside {
        order: -1;
        width: 15%;
        height: 100vh;
    }

    & main {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(71, 71, 71);
        padding: 5em;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 1400px) {
    .wrapper {
    
        & main {
            padding: 1em;
        }
    }

}
    