@import '../../../styles/variables.scss';

.wrapper {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 65px;
    background: $form-background-color;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    position: absolute;
    top: 38%;
    right: 25%;
    transform: translateY(-50%);

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .title {
        margin: 1em 0 1.5em 0;
        letter-spacing: 3px;
        color: white;
        text-shadow: 2px 2px 5px black;
        font-size: 1.5em;
    }
    & .inputbox {
        position: relative;
        margin: 15px 0;
        width: 200px;
        height: 3em;
        border-bottom: 2px solid $logo-color-primary;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-shadow: 2px 2px 5px black;

        & label {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            transition: .5s;
            font-size: 1.2em;
        }

        & input {
            height: 100%;
            width: 87%;
            background: transparent;
            border: none;
            outline: none;
            color: whitesmoke;
            text-shadow: 2px 2px 5px black;
            font-size: 1em;
            

            &:focus ~ label, &:not(:placeholder-shown) ~ label{
                top: -5px;
            }
        }

        & .icon {
            position: absolute;
            right: 0px;
            top: 15px;
            font-size: 1.2em;
        }
    }

    & .confirmBtn {
        border-radius: 50px;
        font-size: 1.2em;
        width: 60%;
        padding: 10px;
        margin-top: 40px;
        transform: scale(1);
        transition: .2s;
        cursor: pointer;
        color: whitesmoke;
        background-color: rgb(37, 37, 37);
        border: 1px solid $logo-color-primary;

        &:hover {
            color: rgb(37, 37, 37);
            background-color: whitesmoke;
            border-color: black;
            transform: scale(1.1);
        }
    }
}