@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.react-confirm-alert-body-element {
    height: 100vh;
    width: 100vw;
}

.react-confirm-alert-overlay {
  background-color: green;
  color: red;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}